<h1>Configuración:</h1>
<div class="config">
    <ul>
        <li>Puerto: {{config.PORT}}</li>
        <li>MongoUrl: {{config.MONGO_URL}}</li>
        <li>Gmail: {{config.GMAIL_EMAIL}}</li>
        <li>Cookie MaxAge: {{config.COOKIE_MAXAGE}}</li>
        <li>TTL: {{config.TTL}}</li>
    </ul>
</div>